/*------------------------------------------------------------------

    Responsive Styles

-------------------------------------------------------------------*/
/**
 * =========================================
 * Mixins
 * =========================================
 */
/* End Mixins */
/**
 * =========================================
 * Variables
 * =========================================
 */
/* Team Text Colors */
/* End Variables */
/**
 * =========================================
 * Media Queries
 * =========================================
 */
@media (min-width: 768px) and (max-width: 992px) {
  .banner-home img {
    width: 100%;
    float: left; } }
@media (max-width: 767px) {
  .obi-logo {
    display: none; }

  .obi-logo-mobile {
    display: block; }

  .banner-home {
    margin-bottom: -20px;
    margin-top: -10px;
    max-height: 250px; }
    .banner-home img {
      width: 370px; }

  .banner-black h1,
  .banner-blue h1,
  .banner-white h1,
  .banner-red h1,
  .banner-yellow h1,
  .banner-green h1,
  .banner-maroon h1 {
    text-align: center; }

  /* Nav */
  .navbar {
    background: #111;
    margin-top: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important; }

  .navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    line-height: normal !important; }

  .navbar-nav > li {
    border-bottom: 1px solid #222;
    padding-left: 15px; }

  .navbar-nav > li:last-child {
    border-bottom: none; }

  .navbar-nav .open .dropdown-menu > li > a {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    line-height: normal !important; }

  .padbot {
    padding-bottom: 10px !important; }

  /* Jumbotron */
  .jumbotron {
    margin-top: -40px; }
    .jumbotron .jt-home {
      padding-top: 80px;
      padding-bottom: 80px;
      margin-bottom: -55px !important; }
      .jumbotron .jt-home .banner-home img {
        height: 250px;
        width: 271px; }
      .jumbotron .jt-home .jumbotron-header {
        margin-bottom: -10px; }
        .jumbotron .jt-home .jumbotron-header h1 {
          padding-top: 10px;
          margin-bottom: 10px; }
      .jumbotron .jt-home .jumbotron-subhead h5 {
        padding: 10px 0;
        margin-bottom: 10px; }
    .jumbotron .fbr-logo {
      margin-right: -50px; }
    .jumbotron .gypsy-danger-logo {
      margin: -30px 20px -70px -20px;
      height: 200px; }

  .banner-hfb h1 {
    margin-top: 45px; }

  .banner-fbr h1 {
    margin-top: 45px; }

  .mc {
    margin-top: -45px; }

  /* Schedules */
  .opponent ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .opponent ul .opponent-team-container table {
      margin-bottom: 0;
      margin-top: 0; }
    .opponent ul .opponent-team-container .team-score {
      font-size: 13px; }

  .team-list .bg-green p {
    margin-bottom: 10px; }

  .schedule-overview .col-sm-12 {
    padding-left: 0;
    padding-right: 0; }

  .team-schedule {
    padding: 10px 0 0 0; }
    .team-schedule table {
      margin-bottom: 0 !important; }
    .team-schedule .rink {
      font-size: 13px; }
    .team-schedule table {
      margin-bottom: 15px;
      margin-top: -15px; }
    .team-schedule table tr th {
      color: #fff;
      font-size: 17px; }
    .team-schedule table tr td {
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 700; }

  .points-and-standings .points {
    padding-top: 10px !important; }
    .points-and-standings .points h3 {
      margin-top: 3px !important;
      text-align: center;
      margin-bottom: 0 !important; }
  .points-and-standings .standings {
    margin-bottom: 5px; }
    .points-and-standings .standings h3 {
      text-align: center;
      margin-top: 3px;
      margin-bottom: 0 !important; }

  .standings {
    background: none !important;
    margin-top: 20px; } }
/* Mobile Devices */
@media (min-device-width: 768px) and (max-device-width: 992px) {
  .banner-home img {
    width: 100%;
    float: left; } }
@media (max-width: 767px) {
  .obi-logo {
    display: none; }

  .obi-logo-mobile {
    display: block; }

  .banner-home {
    margin-bottom: -20px;
    margin-top: -10px;
    max-height: 250px; }
    .banner-home img {
      width: 370px; }

  .padbot {
    padding-bottom: 10px !important; }

  .banner-black h1,
  .banner-blue h1,
  .banner-white h1,
  .banner-red h1,
  .banner-yellow h1,
  .banner-green h1,
  .banner-maroon h1 {
    text-align: center; }

  /* Nav */
  .navbar {
    background: #111;
    margin-top: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important; }

  .navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    line-height: normal !important; }

  .navbar-nav > li {
    border-bottom: 1px solid #222;
    padding-left: 15px; }

  .navbar-nav > li:last-child {
    border-bottom: none; }

  .navbar-nav .open .dropdown-menu > li > a {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    line-height: normal !important; }

  /* Jumbotron */
  .jumbotron {
    margin-top: -40px; }
    .jumbotron .jt-home {
      padding-top: 80px;
      padding-bottom: 80px;
      margin-bottom: -55px !important; }
      .jumbotron .jt-home .banner-home img {
        height: 250px;
        width: 271px; }
      .jumbotron .jt-home .jumbotron-header {
        margin-bottom: -10px; }
        .jumbotron .jt-home .jumbotron-header h1 {
          padding-top: 10px;
          margin-bottom: 10px; }
      .jumbotron .jt-home .jumbotron-subhead h5 {
        padding: 10px 0;
        margin-bottom: 10px; }
    .jumbotron .fbr-logo {
      height: 200px;
      margin: -40px -30px -35px -30px; }
    .jumbotron .hfb-logo {
      height: 100px;
      margin: 20px 20px 0 0; }
    .jumbotron .gypsy-danger-logo {
      margin: 0 20px -45px -20px;
      height: 150px; }

  .banner-hfb h1 {
    margin-top: 45px; }

  .banner-fbr h1 {
    margin-top: 35px; }

  .mc {
    margin-top: -45px; }

  /* Schedules */
  .opponent ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .opponent ul .opponent-team-container table {
      margin-bottom: 0;
      margin-top: 0; }
    .opponent ul .opponent-team-container .team-score {
      font-size: 13px; }

  .team-list .bg-green p {
    margin-bottom: 10px; }

  .schedule-overview .col-sm-12 {
    padding-left: 0;
    padding-right: 0; }

  .team-schedule {
    padding: 10px 0 0 0; }
    .team-schedule table {
      margin-bottom: 0 !important; }
    .team-schedule .rink {
      font-size: 13px; }
    .team-schedule table {
      margin-bottom: 15px;
      margin-top: -15px; }
    .team-schedule table tr th {
      color: #fff;
      font-size: 17px; }
    .team-schedule table tr td {
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 700; }

  .points-and-standings .points {
    padding-top: 10px !important; }
    .points-and-standings .points h3 {
      margin-top: 3px !important;
      text-align: center;
      margin-bottom: 0 !important; }
  .points-and-standings .standings {
    margin-bottom: 5px; }
    .points-and-standings .standings h3 {
      text-align: center;
      margin-top: 3px;
      margin-bottom: 0 !important; }

  .standings {
    background: none !important;
    margin-top: 20px; } }
/* End of media queries */

/*# sourceMappingURL=responsive_styles.css.map */
