/*------------------------------------------------------------------

    Responsive Styles
    
-------------------------------------------------------------------*/

@import 'mixins';



/**
 * =========================================
 * Media Queries
 * =========================================
 */

@media (min-width: 768px) and (max-width: 992px) { 
    
    .banner-home{
        img{
            @include full;  
        }
    }
    
}
 
@media (max-width: 767px) {
    .obi-logo{ display: none; }
    .obi-logo-mobile{ display: block; }
    
    .banner-home{
        margin-bottom: -20px;
        
        img{
            width: 370px;   
        }
    }
    
    /* Nav */
    .navbar{ 
        background: $grey;
        margin-top: 0 !important;
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    .navbar-nav>li>a{
        padding-top: 15px !important;
        padding-bottom: 10px !important;
        padding-left: 15px !important;
        line-height: normal !important;
    }
    .navbar-nav>li{ border-bottom: 1px solid #222; padding-left: 15px; }
    .navbar-nav>li:last-child{ border-bottom: none; }
    
    .navbar-nav .open .dropdown-menu>li>a{
        padding-top: 10px !important;
        padding-bottom: 5px !important;
        padding-left: 30px !important;
        line-height: normal !important;
    }
    
    /* Jumbotron */
    .jumbotron{
        margin-top: -40px;

        .jt-home{
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    
    .mc{ margin-top: -45px;}
    
    /* Schedules */
    .opponent ul{ 
        list-style:none; 
        padding-left: 0;
        margin-bottom: 0;
    }

    .team-schedule{
        .rink{ font-size: 13px; }
        table{ margin-bottom: 15px; margin-top: -15px; }
        table tr th{ color: #fff; font-size: 17px; }
        table tr td{ 
            padding: 5px 10px;
            font-size: 13px;
            font-weight: 700;
        }
    }
}
/* End of media queries */

