/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';

/* End Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */
* {
    margin: 0; 
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow: scroll; }
html, body{  background: url('../images/temp-bg.png') #000 50% 0 no-repeat !important; }

h1,h2,h3,h4{
    font-family: $hind !important;
    font-weight: 900  !important;
    text-transform: uppercase;
}

p{ color: #fff; font-family: $hind; }

a{
    color: $gold !important;
    
    &:hover{
        color: #fff !important;
        text-decoration:none !important;
    }
}

ul{
    padding-left: 20px;
    
    li{
        font-family: $hind;
        color: #fff;
    }
}

.text-gold{     color: $gold !important; }
.text-white{    color: $white !important; }
.text-blue{     color: $blue !important; }
.text-black{    color: $black !important; }
.text-red{      color: $red !important; }
.text-yellow{   color: $yellow !important; }
.text-maroon{   color: $maroon !important; }
.text-maroonlt{ color: $maroonlt !important; }
.text-green{    color: $green !important; }
.text-grey{     color: $grey !important; }

.bg-gold{   background: $gold; }
.bg-white{  background: $white; }
.bg-blue{   background: $blue; }
.bg-black{  background: $black; }
.bg-red{    background: $red; }
.bg-yellow{ background: $yellow; }
.bg-maroon{ background: $maroon; }
.bg-green{  background: $green; }
.bg-grey{   background: $grey; }

    /* Bootstrap Overrides */

    .container-fluid{ 
        padding-left: 0 !important; 
        padding-right: 0 !important;
    }

    /* End Bootstrap Overrides */

/* End Global Styles */


/**
 * =========================================
 * Navigation Styles
 * =========================================
 */

.navbar{ 
    background: $grey;
    margin-top: 20px !important;
}

.navbar-toggle{
    padding: 15px;
    margin-right: 30px !important;
    
    .icon-bar{ 
        height: 1px;
        width: 30px;
        padding-bottom: 2px;
        background: $gold;
        border-radius: 0 !important;
        margin-bottom: 5px;
    }
}


nav{
    li{
        a{
            background: $grey;
            padding: 20px;
            font-family: $hind;
            font-weight: 900;
            color: $gold;
            font-size: 18px;
            text-transform: uppercase;
            
            &:hover{
                background: #222 !important;
            }
        }
    }
    
    .open>a{
        background: #222 !important; /* Bootstrap override */
    }
    .dropdown-menu{
        padding-top: 0;
        padding-bottom: 0;
        
        li{
            border-bottom: 1px solid #222;
            
            &:last-child{ border-bottom: none; }
            
            a{
                padding: 10px;
                font-family: $hind;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
    }
}

/* End Navigation Styles */


/**
 * =========================================
 * Team Page Styles
 * =========================================
 */

.rink{ 
    font-size: 15px;
    color: #fff;
    font-weight:300;
    text-transform: uppercase;
}
.game-time{
    font-family: $hind;
    color: $gold;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.opponent{
    font-family: $hind;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.team-header-desktop{
    position: relative;
    height: 300px;
    
    .team-name{
        position: absolute;
        bottom: 20px;
        left: 35px;
        
        p{
            font-family: $hind;
            color: #fff;
            text-transform: uppercase;
            font-size: 50px;
            line-height: 50px;
        }
    }
}

.team-header-mobile{
    display: none; 
    
    .team-name{
        
        p{
            padding: 20px 0 15px 0;
            font-family: $hind;
            color: #fff;
            text-transform: uppercase;
            font-size: 33px;
            text-align: center;
        }
    }
}

.team-roster{
    table{
        width: 100%;
        
        tr{ 
            th{
                padding: 25px 0 5px 0;
                font-family: $hind;
                color: $gold;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 25px;
            }
            
            td{
                border-bottom: 1px solid #333;
                padding: 10px 0;
                font-family: $hind;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 300;
            }
        }
    } 
}
/* End Team Page Styles */


/**
 * =========================================
 * Schedule Styles
 * =========================================
 */

.schedule-container{ 
    padding: 20px; 
    margin-bottom: 20px;
    background: $grey;
    
    .team-schedule table tr th{
        padding-top: 0;
    }
}

.team-schedule{
    table{
        width: 100%;
        
        tr{ 
            th{
                padding: 25px 0 5px 0;
                font-family: $hind;
                color: $gold;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 25px;
            }
            
            td{
                width: 50%;
                border: 1px solid #333;
                padding: 20px;
            }
        }
    } 
}

.opponent ul{ 
    list-style:none; 
    padding-left: 0;
    margin-bottom: 0;
}

.schedule-overview{
    .rink{ font-size: 13px; }
    table{ margin-bottom: 15px; margin-top: -15px; }
    table tr th{ color: #fff; font-size: 17px; }
    table tr td{ 
        padding: 5px 10px;
        font-size: 13px;
        font-weight: 700;
    }
}

/* End Schedule Styles*/


/**
 * =========================================
 * Footer
 * =========================================
 */

.footer{
    
    .footer-snapshot{
        background: #111;
        padding-top: 15px;
        
        ul{
            li{
                font-family: $hind;
                font-weight: 900;
                text-transform: uppercase; 
            }
        }
    }
}

/* End Footer */
