/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';

/* End Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */
* {
    margin: 0; 
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow: scroll; }
html, body{  background: #000 !important; }

h1,h2,h3,h4{
    font-family: $hind !important;
    font-weight: 900  !important;
    text-transform: uppercase;
}

p{ color: #fff; font-family: $hind; }

a{
    color: $gold !important;
    
    &:hover{
        color: #fff !important;
        text-decoration:none !important;
    }
}

ul{
    padding-left: 20px;
    
    li{
        font-family: $hind;
        color: #fff;
    }
}

.text-gold{     color: $gold; }
.text-white{    color: $white; }
.text-blue{     color: $blue; }
.text-black{    color: $black; }
.text-red{      color: $red; }
.text-yellow{   color: $yellow; }
.text-maroon{   color: $maroon; }
.text-green{    color: $green; }

    /* Bootstrap Overrides */

    .container-fluid{ 
        padding-left: 0 !important; 
        padding-right: 0 !important;
    }

    /* End Bootstrap Overrides */

/* End Global Styles */


/**
 * =========================================
 * Team Page Styles
 * =========================================
 */

.team-header-desktop{
    display: block;
    height: 300px;
    background: red;
}

.team-header-mobile{
    display: none; 
    height: 100px;
    background: yellow;
}

.team-schedule{
    table{
        width: 100%;
    }
}

/* End Team Page Styles */


/**
 * =========================================
 * Footer
 * =========================================
 */

.footer{
    
    .footer-snapshot{
        background: #111;
        padding-top: 15px;
        
        ul{
            li{
                font-family: $hind;
                font-weight: 900;
                text-transform: uppercase; 
            }
        }
    }
}

/* End Footer */
